# This is Git's per-user configuration file.
[user]
	name = touyou
# Please adapt and uncomment the following lines:
#	name = 藤井陽介
#	email = touyou@fujiiyousukenoMacBook-puro.local
[user]
	email = fujiyou1121@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	autocrlf = input
