[user]
	name = Fujii Yosuke
	email = fujiyou1121@gmail.com
[push]
	default = matching
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[core]
	excludesfile = /Users/touyou/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = cache --timeout 3600
[color]
	diff = auto
	status = auto
	branch = auto
[github]
	user = touyou
[ghi]
	token = !security find-internet-password -a touyou -s github.com -l 'ghi token' -w
